.myClass{
    color: rgb(0, 80, 88);
    background-color: whitesmoke;
    font-size: 20px;
    border: 5px solid teal;
}
.button{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: darkcyan;
    
}
